<header class="header-wrapper">
  <div class='header-menu'>
    <ul class='lists-left'>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to "Hi! #{current_user.nickname}", "user_path", class: "menu-text"  %></li>
        <li><%= link_to 'log out', destroy_user_session_path, method: :delete, class: "menu-text"  %></li>
      <% else %>
        <li><%= link_to 'log in', new_user_session_path, class: "menu-text" %></li>
        <li><%= link_to 'sign up', new_user_registration_path, class: "menu-text" %></li>
      <% end %>
    </ul>
  </div>
</header>