.header-wrapper{
  width: 100%;
  height: 30vh;
}

.header-menu{
  display: flex;
  justify-content: space-between;
}

.lists-right {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.lists-right li {
  padding: 10px 30px;
}

.menu-text {
  font-weight: bold;
  font-size: 30px;
  color: #d8ffd1;
  text-decoration: none!important;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
  font-weight:bold;
	font-style:italic;
	padding:32px 24px;
	text-shadow:1px 3px 2px #2f6627;
}

.menu-text:hover {
  color: #fff;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}

